*Default Setup in CSS*
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
} 
button,
input,
textarea,
select{
    font: inherit;
}
button{
    cursor: pointer;
}
img{
max-width: 100%;
display: block;
}

a{
    text-decoration: none;
    color: inherit;
}